@import "variables.scss";
@import "media.scss";

.app {
  margin: 144px 0;
  padding: 12px 0;
  position: relative;
  background: $color-gray-bg-v1;

  @include max-767 {
    margin: 40px 0;
    padding: 48px 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: url("../images/bg-element.png") no-repeat center;
    height: 79px;

    @include max-767 {
      content: none;
    }
  }

  &::before {
    top: -79px;
  }

  &::after {
    bottom: -79px;
    transform: rotate(180deg);
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px -20px 0;
    overflow-x: scroll;

    @include max-767 {
      margin: 40px -12px 0;
    }
  }

  &__item {
    position: relative;
    width: 227px;
    height: 404px;
    margin: 0 20px;
    flex-shrink: 0;
    overflow: hidden;

    @include  max-767 {
      margin: 0 12px;
    }

    &.active {
      width: 270px;
      height: 541px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("../images/phone-frame.png") no-repeat center;
      }

      .app__img {
        padding: 16px 9px 22px;
      }
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}