@import "variables.scss";
@import "media.scss";

.chars {

  &__row {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 12px;

      @include max-767 {
        margin-bottom: 16px;
      }
    }
  }

  &__name {
    color: $color-tertiary;
    white-space: nowrap;

    @include max-767 {
      font-weight: 500;
    }
  }

  &__value {
    display: flex;
    width: 100%;
    font-weight: 700;
    color: $color-primary;
    white-space: nowrap;

    &::before {
      content: "";
      width: 100%;
      border-bottom: 1px dashed $color-gray-v3;
      margin: 0 12px 0.5em;
    }
  }
}