@import "variables.scss";
@import "media.scss";

.header {
  position: relative;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid $color-gray;
  color: $color-primary;

  &--transparent {
    border-bottom: 0;
    background: transparent;
    color: #fff;

    .header {

      &__lang {
        color: #fff;

        svg * {
          fill: #fff;
        }
      }

      &-nav {

        &__icon {

          svg * {
            fill: #fff;
          }
        }
      }
    }

    .burger-btn {

      span {
        background: #fff;
      }
    }

    .search-btn {

      svg * {
        fill: #fff;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include max-1023 {
      padding: 14px 0 15px;
    }
  }

  &__logo {
    max-width: 253px;
    height: 48px;
    margin-right: 24px;

    @include max-1200 {
      height: 42px;
      margin-right: 16px;
    }

    @include max-1023 {
      max-width: 190px;
      height: 36px;
      margin: 0 auto;
    }
  }

  &__lang {
    margin-right: 32px;
    color: $color-secondary;

    @include max-1200 {
      margin-right: 24px;
    }

    @include max-1023 {
      display: none;
    }

    svg * {
      fill: $color-secondary;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include max-1023 {
      display: none;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;

  @include max-1023 {
    display: none;
  }

  &--icons {

    .header-nav {

      &__item {

        &:not(:last-of-type) {
          margin-right: 24px;
        }
      }
    }
  }

  &__item {

    &:not(:last-of-type) {
      margin-right: 32px;

      @include max-1200 {
        margin-right: 24px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    svg * {
      fill: $color-primary;
    }
  }
}