@import "variables.scss";
@import "media.scss";

.dropdown {
  position: relative;
  padding: 5px 0;
  
  &:hover {
    
    .dropdown__content {
      display: block;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 0 0 0 4px;

    &--left {
      margin: 0 8px 0 0;
    }
  }

  &__content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 20px -20px rgba(10, 32, 41, 0.15),
                inset 0 0 0 1px rgba(0, 0, 0, 0.07);
    overflow: hidden;

    &--up {
      top: auto;
      bottom: 100%;
      width: 300px;
    }
  }

  &__item {

  }

  &__link {
    display: flex;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.5;
    color: $color-secondary;
    white-space: nowrap;

    &.active {
      color: $color-primary;
    }

    &:hover {
      color: #fff;
      background: $gradient-green-hover;
    }
  }
}