@import "variables.scss";
@import "media.scss";

.form {

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__label {

  }

  &__field {
    padding: 0;
    border: 0;
    background: #fff;
    outline: none;
  }
}