@import "variables.scss";
@import "media.scss";

.mobile-search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  z-index: 1;
  opacity: 0;
  transition: 0.2s;

  &.show {
    opacity: 1;
  }
}