@import "variables.scss";
@import "media.scss";
@import "mixins";

.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 16px -2px 0;

  @include max-767 {
    justify-content: flex-start;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    @include max-767 {
      width: 100%;
      margin-right: auto;
      order: -1;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 0 2px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: $color-secondary;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.2s;

    &:hover,
    &.active {
      border-color: $color-black-7;
      color: $color-primary;
    }
  }

  &__arrow {

    @include max-374 {
      flex-shrink: 1;
    }

    &--prev {
      transform: rotate(180deg);
    }

    &--next {

    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    svg * {
      fill: $color-black-60;
    }
  }

  &__link {

  }
}