@import "variables.scss";
@import "media.scss";

.section {
  margin-top: 64px;

  @include max-767 {
    margin-top: 40px;
  }

  &__head {
    margin-bottom: 32px;

    @include max-767 {
      margin-bottom: 24px;
    }

    &--center {
      text-align: center;
    }

    .link {
      margin-top: 8px;
      font-size: 18px;
      line-height: 1.33;

      @include max-767 {
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }

  &__text {
    max-width: 708px;
    margin: 24px auto 0;
    color: $color-secondary;

    @include max-767 {
      max-width: 100%;
      margin-top: 16px;
      font-size: 15px;
      line-height: 1.33;
    }
  }
}