.examples {
  >div {
    display: flex;
    align-items: center;

    button {
      margin: 8px;
    }
  }
}
.scroll-outer {
      width: 40%;
      &.horizontal {
          margin-left: 20px;
          .f-blocks {
              display: flex;
              .item {
                  width: 350px;
                  padding: 16px;
                  flex-shrink: 0;
              }
          }
      }
      &.vertical {
          max-height: 300px;
          >div {
              max-height: 300px !important;
              .view {
                  max-height: 300px !important;
              }
          }
      }
  }

