@import "variables.scss";
@import "media.scss";

.authors {

  &__container {
    display: flex;
    margin-top: 48px;

    @include max-767 {
      margin-top: 32px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 40px);
    margin: -24px -20px;

    @include max-767 {
      width: 100%;
      margin: -16px 0;
    }
  }

  &__item {
    width: calc(33.33% - 40px);
    margin: 24px 20px;

    @include max-1023 {
      width: calc(50% - 40px);
    }

    @include max-767 {
      width: 100%;
      margin: 16px 0;
    }
  }

  .filter {

    &__block {

      @include max-767 {
        margin-top: 24px;
      }
    }

    &__items {

      @include max-767 {
        margin: -12px 0;
      }
    }

    &__item {

      @include max-767 {
        margin: 12px 0;
      }
    }
  }
}