@import "variables.scss";
@import "media.scss";

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 0;
  border-radius: 32px;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $color-semi;
  cursor: pointer;
  transition: 0.2s;

  .icon {
    width: 24px;
    height: 24px;
    transition: 0.2s;

    svg * {
      fill: $color-semi;
    }
  }

  .loader__dot {
    background: $color-green;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:hover {
    background: $color-gray-7;
  }

  &:focus {
    background: transparent;
    box-shadow: inset 0 0 0 2px $color-gray-30;
  }

  &.active {
    color: $color-primary;
    background: $color-gray-15;
    box-shadow: none;
  }

  &:disabled {
    color: $color-secondary;
    pointer-events: none;

    .icon {

      svg * {
        fill: $color-secondary;
      }
    }
  }

  &.loading {
    color: transparent;
    pointer-events: none;

    &:hover {
      color: transparent;
    }

    .icon {
      opacity: 0;
    }
  }

  &--squared {
    border-radius: 10px;
  }

  &--icon {
    padding: 8px;
  }

  &--medium {
    padding: 16px 32px;

    &.btn--icon {
      padding: 16px;
    }
  }

  &--large {
    padding: 20px 32px;

    &.btn--icon {
      padding: 20px;
    }
  }

  &--medium,
  &--large {

    .icon {

      &--start {
        margin-right: 8px;
      }

      &--end {
        margin-left: 8px;
      }
    }
  }

  &--outlined {
    color: $color-semi;
    background: transparent;
    box-shadow: inset 0 0 0 1px $color-gray-15;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      background: transparent;
      box-shadow: inset 0 0 0 2px $color-gray-30;
    }

    &.active {
      color: $color-primary;
      background: $color-gray-15;
    }

    &:disabled {
      color: $color-secondary;

      &.loading {
        color: transparent;
      }
    }
    
    &.btn--colored {
      box-shadow: inset 0 0 0 1px $color-green;

      &:hover {
        color: #fff;
        background: $gradient-green-light;
        box-shadow: none;

        .icon {

          svg * {
            fill: #fff;
          }
        }
      }

      &:focus {
        color: $color-semi;
        background: transparent;
        box-shadow: inset 0 0 0 2px $color-gray-30;

        .icon {

          svg * {
            fill: $color-semi;
          }
        }
      }

      &.active {
        color: #fff;
        background: $gradient-green;
        box-shadow: none;

        .icon {

          svg * {
            fill: #fff;
          }
        }
      }
    }
  }

  &--filled {
    background: $color-gray-7;

    &:hover {
      background: $color-gray-10;
    }

    &:focus {
      background: $color-gray-7;
      box-shadow: inset 0 0 0 2px $color-gray-30;
    }

    &.active {
      color: $color-primary;
      background: $color-gray-15;
    }

    &:disabled {

      &.loading {
        color: transparent;
      }
    }

    &.btn--colored {
      color: #fff;
      background: $gradient-green;

      &:hover,
      &:focus {
        background: $gradient-green-light;

        .icon {

          svg * {
            fill: #fff;
          }
        }
      }

      &.active {
        color: #fff;
        background: $gradient-green;
      }

      &:disabled {
        color: $color-white-75;
        background: $gradient-green-light;
      }

      .icon {

        svg * {
          fill: #fff;
        }
      }

      &.loading {
        color: transparent;

        .icon {
          opacity: 0;
        }
      }

      .loader__dot {
        background: #fff;
      }
    }
  }
  
  &__text {
    
    &--less {
      display: none;
    }
  }
  
  &--more {
    
    .btn__text {
      
      &--more {
        display: none;
      }
      
      &--less {
        display: block;
      }
    }
  }
}