@import "variables.scss";
@import "media.scss";

.chars {

  &__row {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 12px;

      @include max-767 {
        margin-bottom: 16px;
      }
    }
  }

  &__name {
    color: $color-tertiary;
    white-space: nowrap;

    @include max-767 {
      font-weight: 500;
    }

    @include max-500 {
      white-space: normal;
    }
  }

  &__value {
    display: flex;
    width: 100%;
    font-weight: 700;
    color: $color-primary;

    &::before {
      content: "";
      min-width: 10%;
      flex-grow: 1;
      border-bottom: 1px dashed $color-tertiary;
      margin: 1em 12px auto;
    }
  }
}