@import "variables.scss";
@import "media.scss";

.checkbox {
  position: relative;

  &__input {
    position: absolute;
    opacity: 0;

    &:not(:disabled) {

      & + .checkbox__label {

        &:hover {

          &::before {
            border-color: $color-gray-25;
            background: $color-gray-10;
          }
        }
      }

      &:not(:checked) {

        &:not(.error) {

          &:focus {

            & + .checkbox__label {

              &::before {
                border-color: $color-green;
                background: #fff;
                box-shadow: 0 0 0 2px $color-gray-10;
              }
            }
          }
        }
      }
    }

    &:disabled {

      & + .checkbox__label {
        cursor: auto;
        color: $color-secondary;

        &::before {
          border-color: $color-gray-7;
        }
      }
    }

    &:checked {

      & + .checkbox__label {

        &::before {
          background: $color-green;
          border-color: $color-green;
        }

        &::after {
          opacity: 1;
        }

        &:hover {

          &::before {
            background: $color-green-v1;
            border-color: $color-green-v1;
          }
        }
      }

      &:disabled {

        & + .checkbox__label {

          &::before {
            border-color: transparent;
            background: $color-gray-20;
          }
        }
      }

      &:focus {

        & + .checkbox__label {

          &::before {
            border-color: $color-green;
            box-shadow: 0 0 0 2px $color-gray-10;
          }
        }
      }
    }

    &.error {

      & + .checkbox__label {

        &::before {
          border-color: $color-red;
          background: $color-red-7;
          box-shadow: 0 0 0 2px $color-red-20;
        }

        &:hover {

          &::before {
            border-color: $color-red;
            background: $color-red-7;
          }
        }
      }

      &:focus {

        & + .checkbox__label {

          &::before {
            border-color: $color-red;
            background: $color-red-7;
            box-shadow: 0 0 0 2px $color-red-20;
          }
        }
      }

      &:checked {

        & + .checkbox__label {

          &::before {
            background: $color-red;
          }
        }

        &:disabled {

          & + .checkbox__label {

            &::before {
              background: $color-red;
            }
          }
        }
      }
    }
  }

  &__label {
    position: relative;
    display: inline-flex;
    padding-top: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: $color-primary;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      margin: -4px 8px 0 0;
      border: 1px solid $color-gray-15;
      border-radius: 8px;
      background: $color-gray-7;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      left: 9px;
      top: 4px;
      width: 8px;
      height: 13px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}