@import "variables.scss";
@import "media.scss";

.creation {

  &__container {
    max-width: 936px;
  }

  .section {

    &:first-of-type {
      margin-top: 40px;
    }
  }

  &__more {
    margin-top: 32px;
  }

  .title-3 {
    line-height: 1.33;

    @include max-767 {
      line-height: 1.2;
      letter-spacing: normal;
    }
  }
}

.creation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  background: #fff;
  border-top: 1px solid $color-gray-7;
  z-index: 99;

  @include max-767 {
    padding-bottom: 68px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.creation-progress {
  display: flex;
  flex-wrap: wrap;
  margin: 52px 0;

  @include max-767 {
    margin: 32px 0 52px;
  }

  &__step {
    display: flex;
    flex-direction: column;
    width: 33.33%;

    @include max-767 {
      flex-direction: row;
      width: 100%;
    }

    .timeline {

      @include max-767 {
        padding: 4px 20px 24px 0;
      }

      &__dash {

        @include max-767 {
          top: 4px;
          bottom: -4px;
        }
      }

      &__time {
        opacity: 0.3;

        &--last {
          opacity: 1;

          @include max-767 {
            bottom: -20px;
          }
        }
      }
    }

    &.active {

      .timeline__time {
        opacity: 1;
      }

      .creation-progress {

        &__title {
          font-weight: 700;
          font-size: 34px;
          line-height: 1.41;
          letter-spacing: -0.01em;
          color: $color-primary;

          @include max-767 {
            font-size: 24px;
            line-height: 1.33;
          }
        }
      }
    }
  }

  &__title {
    margin-top: 4px;
    font-size: 18px;
    line-height: 1.78;
    color: $color-semi;

    @include max-767 {
      margin-top: 0;
      font-size: 16px;
      line-height: 1.75;
    }
  }
}