@import "variables.scss";
@import "media.scss";

.filter {
  margin-bottom: 16px;

  @include max-767 {
    margin-bottom: 24px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  &__item {
    margin: 8px;

    @include max-767 {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    color: $color-semi;
  }

  &__select {
    display: inline-flex;
    align-items: center;

    .form__field {

      &::before {
        content: none;
      }
    }
  }

  &__more {
    margin-top: 16px;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: $color-semi;

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    svg * {
      fill: $color-semi;
    }
  }
}

.filter-tags {
  margin-top: 48px;

  @include max-767 {
    margin-top: 32px;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-top: 24px;

    @include max-767 {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 32px;
    }
  }

  &__title {
    width: 160px;
    margin-right: 16px;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    color: $color-semi;

    @include max-767 {
      width: auto;
      margin: 0 0 12px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px;

    @include max-767 {
      margin: -6px;
    }
  }
}