@import "variables.scss";
@import "media.scss";

.filter {
  margin-bottom: 16px;

  &__tags {
    display: flex;
    align-items: center;
    margin-top: 12px;
    
    @include max-1023 {
      overflow-x: scroll;
    }

    @include max-767 {
      margin-top: 16px;
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;

    @include max-767 {
      margin-top: 20px;
    }
    
    &--desktop {
      
      @include max-767 {
        display: none;
      }
    }
    
    &--mobile {
      display: none;
      
      @include max-767 {
        display: flex;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -6px auto 10px -12px;
  }

  &__item {
    margin: 6px 12px;
  }

  &__text {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: $color-secondary;
  }

  &__right {
    display: flex;
    align-items: center;
    margin: auto 0 16px 0;
  }

  &__select {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: 16px;
    }

    .filter__text {
      margin: 0 4px 0 0;
    }

    .gradient-border {

      &::before {
        content: none;
      }
    }
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  padding: 11px;
  border: 1px solid $color-gray;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $color-secondary;

  &--sort {
    width: calc(100% - 56px);
    margin-right: 8px;

    .filter-btn__icon {
      margin-left: auto;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    svg * {
      fill: $color-secondary;
    }
  }
}