@import "variables.scss";
@import "media.scss";
@import "mixins";

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid $color-gray;
  color: $color-primary;
  transition: 0.2s;

  &--transparent {
    border-bottom: 0;
    background: transparent;
    color: #fff;

    .header {

      &__logo {

        svg * {
          fill: #fff;
        }
      }

      &__lang {
        color: #fff;

        svg * {
          fill: #fff;
        }
      }

      &-links {

        &__icon {

          svg * {
            fill: #fff;
          }
        }
      }
    }

    .burger-btn {

      span {
        background: #fff;
      }
    }

    .search-btn {

      svg * {
        fill: #fff;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 20px 0;

    @include max-1440 {
      padding: 20px 16px;
    }

    @include max-767 {
      padding: 16px;
    }
  }

  &__logo {
    max-width: 253px;
    height: 48px;
    margin-right: 24px;
    flex-shrink: 0;

    @include max-1200 {
      height: 42px;
      margin-right: 16px;
    }

    @include max-767 {
      width: 48px;
      height: 48px;
      margin: 0 auto;
    }

    svg * {
      transition: 0.2s;
    }
  }

  &__lang {
    margin-right: 32px;
    color: $color-semi;

    @include max-1200 {
      margin-right: 24px;
    }

    @include max-767 {
      display: none;
    }

    svg * {
      fill: $color-semi;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;

  @include max-1023 {
    display: none;
  }

  &__item {

    &:not(:last-of-type) {
      margin-right: 32px;

      @include max-1200 {
        margin-right: 24px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
    transition: 0.2s;
    @include reset-button
  }
}

.header-links {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include max-767 {
    display: none;
  }

  &__item {

    &:not(:last-of-type) {
      margin-right: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
    transition: 0.2s;
    @include reset-button
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    svg * {
      fill: $color-primary;
      transition: 0.2s;
    }
  }
}