@import "variables.scss";
@import "media.scss";

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__item {

  }

  &__link {
    display: flex;
    padding: 10px 0;
    color: $color-primary;
  }
}