@import "variables.scss";
@import "media.scss";

.progressbar {

  &__line {
    position: relative;
    display: flex;
    height: 20px;
    border-radius: 10px;
    background: $color-gray-10;
  }

  &__thumb {
    position: absolute;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    background: $color-green;
  }

  &__value {
    position: relative;
    margin: auto 12px auto auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
  }
}