@import "variables.scss";
@import "media.scss";

.radio {
  position: relative;
  display: flex;
  align-items: flex-start;

  &__input {
    position: absolute;
    opacity: 0;

    &:not(:disabled) {

      & + .radio__label {

        &:hover {

          &::before {
            border-color: $color-gray-25;
            background: $color-gray-10;
          }
        }
      }

      &:not(:checked) {

        &:not(.error) {

          &:focus {

            & + .radio__label {

              &::before {
                border-color: $color-green;
                background: #fff;
                box-shadow: 0 0 0 2px $color-gray-10;
              }
            }
          }
        }
      }
    }

    &:disabled {

      & + .radio__label {
        cursor: auto;
        color: $color-semi;

        &::before {
          border-color: $color-gray-7;
        }
      }
    }

    &:checked {

      & + .radio__label {

        &::before {
          background: $color-green;
          border-color: $color-green;
        }

        &::after {
          opacity: 1;
        }

        &:hover {

          &::before {
            background: $color-green-v1;
            border-color: $color-green-v1;
          }
        }
      }

      &:disabled {

        & + .radio__label {

          &::before {
            border-color: $color-gray-7;
            background: $color-gray-20;
          }
        }
      }

      &:focus {

        & + .radio__label {

          &::before {
            border-color: $color-green;
            box-shadow: 0 0 0 2px $color-gray-10;
          }
        }
      }
    }

    &.error {

      & + .radio__label {

        &::before {
          border-color: $color-red;
          background: $color-red-7;
          box-shadow: 0 0 0 2px $color-red-20;
        }

        &:hover {

          &::before {
            border-color: $color-red;
            background: $color-red-7;
          }
        }
      }

      &:checked {

        & + .radio__label {

          &::before {
            border-color: $color-red;
            background: $color-red;
            box-shadow: 0 0 0 2px $color-red-20;
          }
        }
      }
    }
  }

  &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    color: $color-primary;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 8px;
      border: 1px solid $color-gray-15;
      border-radius: 100%;
      background: $color-gray-7;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      left: 8px;
      top: 8px;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 100%;
    }
  }

  & + & {
    margin-top: 16px;
  }
}