@import "variables.scss";
@import "media.scss";

.review {
  display: flex;
  align-items: center;
  border: 1px solid $color-gray;
  border-radius: 16px;
  overflow: hidden;

  @include max-1023 {
    flex-direction: column;
  }

  @include max-767 {
    border: 0;
    border-radius: 0;
    overflow: unset;
  }

  &__img {
    position: relative;
    width: 56.578%;
    max-width: 800px;
    height: 600px;
    flex-shrink: 0;

    @include max-1200 {
      width: 50%;
    }

    @include max-1023 {
      width: 100%;
      max-width: 100%;
      height: 0;
      padding-bottom: 75%;
      overflow: hidden;
    }

    @include  max-767 {
      border-radius: 16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      @include max-1023 {
        position: absolute;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33.667%;
      background: $gradient-black-71;
      z-index: 1;

      @include max-1023 {
        height: 78.3%;
      }
    }
  }

  &__user {
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 2;

    @include max-767 {
      bottom: 18px;
      left: 11px;
    }
  }

  &__content {
    padding: 40px;
    color: $color-primary;

    @include max-767 {
      padding: 16px 0 12px;
    }
  }

  &__rating {
    margin-bottom: 12px;
  }

  &__title {

  }

  &__description {
    margin-top: 8px;

    @include max-767 {
      margin-top: 12px;
    }
  }

  &__chars {
    margin-top: 32px;

    @include  max-767 {
      margin-top: 20px;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    margin-top: 32px;

    @include max-767 {
      margin-top: 20px;
    }
  }

  &__cost {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.29;
    letter-spacing: -0.01em;
  }

  &__cost-old {
    margin-left: 16px;
    font-size: 24px;
    line-height: 1.33;
    text-decoration: line-through;
    color: $color-tertiary;

    @include max-767 {
      margin-left: 18px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;

    @include max-767 {
      flex-direction: column;
      margin-top: 22px;
    }

    .btn {

      @include max-767 {
        width: 100%;
      }
    }

    .link {
      margin-left: 20px;

      @include max-767 {
        width: 100%;
        margin: 16px 0 0;
        text-align: center;
      }
    }
  }
}

.reviews {

  &__container {
    position: relative;
    margin-top: 20px;

    @include max-767 {
      margin-top: 30px;
    }
  }

  &__nav {

  }

  &__items {
    margin: -48px 0;
    padding: 48px 0;

    @include max-767 {
      margin: -30px -11px;
      padding: 30px 0;
    }
  }

  .swiper-slide {
    height: auto;

    @include max-767 {
      width: auto;
    }
  }

  .swiper-pagination {

    @include max-767 {
      display: none;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100% - 30px);
    padding: 40px;
    margin-top: 30px;
    border-radius: 16px;
    background: $color-gray-bg;

    @include max-767 {
      width: 290px;
      margin: 0 11px;
      padding: 40px 16px;
      flex-shrink: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -29px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 21px solid transparent;
      border-right: 21px solid transparent;
      border-bottom: 29px solid $color-gray-bg;
    }
  }

  &__rating {
    margin: 16px 0 20px;
  }

  &__content {
    margin-bottom: 40px;

    @include max-767 {
      margin-bottom: 24px;
    }
  }

  &__block {
    color: $color-tertiary;

    &--first {

      .reviews__text {
        display: inline;
        margin-top: 0;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 16px;

      @include max-767 {
        margin-bottom: 20px;
      }
    }
  }

  &__text {
    max-height: 9.334em;
    margin-top: 8px;
    color: $color-secondary;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;

    @include max-767 {
      -webkit-line-clamp: 5;
    }
  }

  &__link {
    margin-top: auto;
    font-weight: 600;

    @include max-767 {
      font-weight: 700;
    }
  }
}