@import "variables.scss";
@import "media.scss";

.switch {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 4px 2px;
  border: 1px solid $color-gray-15;
  border-radius: 10px;

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 12px 20px;
    margin: 0 2px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: $color-primary;
    white-space: nowrap;
    transition: 0.2s;

    &:hover {
      background: $color-gray-7;
    }

    &.active {
      background: $gradient-green;
      color: #fff;

      .switch__icon {

        svg * {
          fill: #fff;
        }
      }
    }

    &--icon {
      padding: 12px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}