@import "variables.scss";
@import "media.scss";

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 20px;
  background: $color-gray-7;
  font-size: 16px;
  line-height: 1.5;
  color: $color-primary;
  white-space: nowrap;
  transition: 0.2s;

  @include max-767 {
    padding: 6px 12px;
    margin: 6px;
    font-size: 14px;
    line-height: 1.43;
  }

  &:hover {
    box-shadow: 0 0 0 1px inset $color-gray-20;
  }

  &.active {
    background: $gradient-green;
    color: #fff;
    box-shadow: none;

    &:hover {
      background: $gradient-green-light;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: -8px;
  }

  span {
    display: flex;
    align-items: center;
  }
}