@import "variables.scss";
@import "media.scss";

.rating {
  display: flex;
  align-items: center;

  &__number {
    display: flex;
    align-items: center;
    width: 53px;
    height: 36px;
    padding-left: 8px;
    margin-right: 12px;
    background: url("../images/rating-bage.svg") no-repeat center;
    background-size: contain;
    font-weight: 700;
    line-height: 1;
    color: #fff;
  }

  &__stars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -4px;
  }

  &__star {
    width: 16px;
    height: 15px;
    margin: 0 4px;
  }
}