@import "variables.scss";
@import "media.scss";

.showcase {
  position: relative;
  display: flex;

  &--main {
    height: 732px;
    margin-top: -88px;
    margin-bottom: 198px;
    color: #fff;

    @include max-1200 {
      margin-top: -82px;
    }

    @include max-1023 {
      margin-top: -65px;
    }

    @include max-767 {
      height: 500px;
      margin-bottom: 177px;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    width: 100%;
    margin-top: 8.8%;

    @include max-1440 {
      margin-top: auto;
      margin-bottom: auto;
    }

    @include max-500 {
      margin-top: 30%;
      margin-bottom: 0;
    }
  }

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.25;

    @include max-767 {
      font-size: 40px;
      line-height: 1.2;
      letter-spacing: -0.01em;
    }
  }

  &__search {
    margin-top: 52px;

    @include max-767 {
      margin-top: 28px;
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -134px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px;
    padding: 24px 12px;
    background: #fff;
    border-radius: 16px;

    @include max-767 {
      padding: 12px 4px;
      margin: 0 -16px;
      background: transparent;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(25% - 24px);
    height: 200px;
    padding: 12px 20px;
    margin: 0 12px;
    border-radius: 8px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @include max-767 {
      width: 282px;
      flex-shrink: 0;
    }

    &:hover {

      .showcase__img {

        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      transition: 0.2s;
    }

    &::before {
      height: 73%;
      background: $gradient-black-65;
    }

    &::after {
      height: 100%;
      background: $color-black-30;
      opacity: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    margin-top: auto;
    z-index: 2;
  }

  &__text {
    color: $color-white-90;

    @include max-767 {
      font-size: 18px;
      line-height: 1.56;
    }
  }

  &__title {

  }
}